@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ErrorPageModel
@inject IViewLocalizer Localizer
<section class="page-header">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li>
                    <a href="/">@Localizer["Home"]</a>
                </li>
                <li>
                    <span>/</span>
                </li>
                <li>
                    <h6>@Localizer["Header"]</h6>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="error-page">
    <div class="error-page-shape-1 float-bob-y" style="background-image: url(/assets/images/AfzarAzma/shape/error-page-shape-1.png);">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="error-page__inner">
                    <div class="error-page__title-box">
                        <h2 class="error-page__title">500 !</h2>
                        <h3 class="error-page__sub-title">@Localizer["PageError"]</h3>
                    </div>
                    <p class="error-page__text">@Localizer["ErrorDetail"]</p>
                    <a href="/" class="thm-btn error-page__btn">@Localizer["Back"]</a>
                </div>
            </div>
        </div>
    </div>
</section>