@page "/EventDetails/{id}"
@using System.Globalization
@using Microsoft.AspNetCore.Mvc.Localization
@using My_Shop_Framework.Application
@model EventDetailsModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Model.EventQueryModel.Title;
    ViewData["keywords"] = @Model.EventQueryModel.Keywords.Replace("#", ",");
    ViewData["metaDescription"] = @Model.EventQueryModel.MetDescription;
}

<section class="page-header">
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li>
                    <a href="/">@Localizer["Home"]</a>
                </li>
                <li><span>/</span></li>
                <li><a href="/EventList">@Localizer["ArticleDetails"]</a></li>
                <li><span>/</span></li>
                <li>
                    <h6>@Localizer["ArticleList"]</h6>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="news-details">
    <div class="container">
        <div class="col-xl-12 col-lg-12" style="text-align: center;">
            <div class="services-one__top-left">
                <div class="section-title text-left">
                    <div class="section-sub-title-box">
                        <h1 class="section-sub-title">@Model.EventQueryModel.Title</h1>
                        @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
                        {
                            <div class="section-title-shape-1">
                                <img src="~/assets/images/AfzarAzma/Background/004.png" alt="">
                            </div>
                            <div class="section-title-shape-2">
                                <img src="~/assets/images/AfzarAzma/Background/003.png" alt="">
                            </div>
                        }
                        else
                        {
                            <div class="section-title-shape-1">
                                <img src="~/assets/images/AfzarAzma/Background/003.png" alt="">
                            </div>
                            <div class="section-title-shape-2">
                                <img src="~/assets/images/AfzarAzma/Background/004.png" alt="">
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-8 col-lg-7">
                <div class="news-details__left">
                    <div class="news-details__img">
                        <img src="~/Images/@Model.EventQueryModel.Picture" alt="@Model.EventQueryModel.PictureAlt" title="@Model.EventQueryModel.PictureTitle">
                    </div>
                    <div class="news-details__content">
                        <ul class="list-unstyled news-details__meta">
                            <li>
                                <i class="far fa-calendar m-2"></i>
                                @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
                                {
                                    @Model.EventQueryModel.PublishDate
                                }
                                else
                                {
                                    @Model.EventQueryModel.PublishDate.ToGeorgianDateTime().ToString("yyyy MMMM dd")
                                }



                            </li>
                        </ul>
                        <h3 class="news-details__title">@Model.EventQueryModel.Title</h3>
                        <p class="news-details__text-1">
                            @Html.Raw(@Model.EventQueryModel.Description)
                        </p>
                    </div>
                    <div class="news-details__social-list">
                        @foreach (var item in @Model.SocialMediaQueryModels)
                        {
                            <li style="list-style-type: none;">
                                <a href="@item.Link"><i class="fab fa-@item.Title"></i></a>
                            </li>
                        }
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-5">
                <div class="sidebar">
                    <div class="sidebar__single sidebar__post">
                        <h3 class="sidebar__title">@Localizer["RecentPosts"]</h3>
                        <ul class="sidebar__post-list list-unstyled">

                            @foreach (var item in Model.EventQueryModelList)
                            {
                                @if (item.Id != @Model.EventQueryModel.Id)
                                {
                                    <li>
                                        <div class="sidebar__post-image">
                                            <img src="~/Images/@item.Picture" alt="@item.PictureAlt" title="@item.PictureTitle">
                                        </div>
                                        <div class="sidebar__post-content">
                                            <h3>
                                                <span class="sidebar__post-content-meta">
                                                    @if (CultureInfo.CurrentCulture.TextInfo.IsRightToLeft)
                                                    {
                                                        @item.PublishDate
                                                    }
                                                    else
                                                    {
                                                        @item.PublishDate.ToGeorgianDateTime().ToString("yyyy MMMM dd")
                                                    }
                                                </span>
                                                <a href="/EventDetails/@item.Slug">@item.Title</a>
                                            </h3>
                                        </div>
                                    </li>
                                }

                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
