@page
@using Microsoft.AspNetCore.Mvc.Localization
@model ResetPasswordModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["ResetPassword"];
}
<div class="panel panel-color panel-primary panel-pages">
    <div class="panel-heading bg-img">
        <div class="bg-overlay"></div>
        <h3 class="text-center m-t-10 text-white">@Localizer["Title"]</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal m-t-20" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Email" class="form-control input-lg" autocomplete="Email" aria-required="true" placeholder="@Localizer["EnterEmail"]" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating" style="margin: 5px">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@Localizer["EnterPassword"]" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="@Localizer["ConfirmPassword"]" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group text-center m-t-40">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary btn-lg w-lg waves-effect waves-light">placeholder="@Localizer["Reset"]"</button>
                </div>
            </div>
        </form>
    </div>

</div>
@section Css
{
    <style>
        .error {
            color: red;
            font-size: 12px;
            margin-top: 5px;
            margin-right: 10px; /* این خط برای راست‌چین بودن اضافه شده */
            margin-left: 10px; /* این خط برای چپ‌چین بودن اضافه شده */
            display: block;
        }

        input.error, select.error, textarea.error {
            border: 1px solid red !important;
            background-color: #ffe6e6;
        }

        .comment-form__input-box {
            position: relative;
        }

            .comment-form__input-box .error {
                margin-top: 5px;
                margin-bottom: 10px; /* اضافه کردن فاصله پایین برای ارور */
            }

    </style>
}
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}